header {
    font-size: 300%vw;
    color: green;
    text-align: center;
    }
h3 {
    text-decoration: underline;
}
body {
    background-color: powderblue;
}
img {
    border: 3px solid black;
}
dt {
    font-weight: bold ;
}
.element {
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.element-font {
    font-family: 'Courier New', Courier, monospace;
}
.notice {
    background-color: rgb(247, 247, 196);
    padding: 10px;
}
.contentsTable {
    list-style-type: none;
    background-color: lightseagreen;
    padding: 15px;
}
footer {
    background-color: lightseagreen;
    padding: 15px;
}
table {
    border: 3px solid black;
}
th {
    text-align: left; /* Just shows how to move the text */
}
th ,td {
    border: 3px solid black;
    border-color: black;
    border-style: solid;
}
tr:hover {background-color: rgb(134, 194, 246);
}